## JOIN sample_antibody_map with other metadata

### Input:
- sample_antibody_map_v2.txt
- lympho_metadata.csv

### Output:
- sample_antibody_map_v2_with_metadata.tsv

In [1]:
import pandas as pd

In [3]:
sample_antibody_map_v2 = pd.read_csv(
    'sample_antibody_map_v2.txt',
    sep=' ', quotechar='"',
)

In [5]:
sample_antibody_map_v2.shape

(652, 2)

In [6]:
lympho_metadata = pd.read_csv(
    'lympho_metadata.csv',
)

In [8]:
lympho_metadata.shape

(688, 23)

In [21]:
sample_antibody_map_v2_with_metadata_temp = sample_antibody_map_v2.merge(
    lympho_metadata,
    how='left',
    left_on='sample_number',
    right_on=lympho_metadata.columns[0]
)
sample_antibody_map_v2_with_metadata = sample_antibody_map_v2_with_metadata_temp[
    [x for x in sample_antibody_map_v2_with_metadata_temp.columns if x != lympho_metadata.columns[0]]
]

In [22]:
sample_antibody_map_v2_with_metadata.shape

(652, 24)

In [23]:
sample_antibody_map_v2_with_metadata.head()

,sample_number,antibody,Genome assembly,Antigen class,Antigen,Cell type class,Cell type,Cell type description,Processing logs,Title,...,age,treatment,genotype,lab,age.1,health state,cell_type,tissue_type,provider,sex
0,ERX329611,NaN,hg19,Unclassified,Unclassified,Blood,Lymphoblastoid cell line,Tissue=blood|Lineage=mesoderm|Description=pare...,"40855708,80.1,40.4,29496",Illumina Genome Analyzer IIx sequencing; Coord...,...,NaN,NaN,NaN,NaN,NaN,NaN,NA12892,NaN,NaN,female
1,ERX329612,NaN,hg19,Unclassified,Unclassified,Blood,Lymphoblastoid cell line,Tissue=blood|Lineage=mesoderm|Description=pare...,"43053435,90.9,55.2,44937",Illumina HiSeq 2000 sequencing; Coordinated ef...,...,NaN,NaN,NaN,NaN,NaN,NaN,NA12892,NaN,NaN,female
2,ERX329613,NaN,hg19,Unclassified,Unclassified,Blood,Lymphoblastoid cell line,Tissue=blood|Lineage=mesoderm|Description=pare...,"61877423,80.5,85.3,155",Illumina HiSeq 2000 sequencing; Coordinated ef...,...,NaN,NaN,NaN,NaN,NaN,NaN,NA12813,NaN,NaN,female
3,ERX329614,NaN,hg19,Unclassified,Unclassified,Blood,Lymphoblastoid cell line,Tissue=blood|Lineage=mesoderm|Description=pare...,"40548507,80.3,37.2,27249",Illumina Genome Analyzer IIx sequencing; Coord...,...,NaN,NaN,NaN,NaN,NaN,NaN,NA19240,NaN,NaN,female
4,ERX329615,NaN,hg19,Unclassified,Unclassified,Blood,Lymphoblastoid cell line,Tissue=blood|Lineage=mesoderm|Description=pare...,"42334884,82.0,47.9,26632",Illumina Genome Analyzer IIx sequencing; Coord...,...,NaN,NaN,NaN,NaN,NaN,NaN,NA19239,NaN,NaN,male

In [24]:
sample_antibody_map_v2_with_metadata.to_csv(
    'sample_antibody_map_v2_with_metadata.tsv',
    sep='\t', index=False, header=True
)